@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 350px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-body: "Josefin Sans", "sans-serif",
    --font-special: "Roboto", "sans-serif",

    --box-shadow-cyanShadow: 0px 0px 20px 0px rgba(94, 206, 220, 0.5);
  --box-shadow-cyanBigShadow: 10px 10px 1000px 500px rgba(94, 206, 220, 0.3);
  --box-shadow-cyanMediumShadow: 10px 10px 200px 150px rgba(94, 206, 220, 0.5);
  --box-shadow-orangeBigShadow: 10px 10px 10000px 500px rgba(240, 169, 79, 0.3);
  --box-shadow-orangeMediumShadow: 10px 10px 2000px 150px rgba(240, 169, 79, 0.5);

  --color-brown: #53423e;
  --color-lightBrown: #645550;
  --color-darkBrown: #2c2523;
  --color-black: #1e1917;
  --color-white: #f1e1d9;
  --color-cyan: #15d1e9;
  --color-lightCyan: #88e5f0;
  --color-darkCyan: #009fb3;
  --color-orange: #fb9718;
  --color-lightOrange: #fac27b;
  --color-darkOrange: #d28422;
  --color-grey: #626965;
  --color-lightGrey: #978580;
  --color-darkGrey: #3f4441;

}

.hover-link:hover {
  @apply text-cyan;
}

.hover-text-orange:hover {
  @apply text-orange;
}

.hover-text-white:hover {
  @apply text-white;
}

.hover-darkGrey:hover {
  @apply text-darkGrey;
}

.hover-bg-darkCyan:hover {
  @apply bg-darkCyan;
}

.hover-myProjects:hover {
  @apply bg-orange;
}

.group:hover .group-hover\:w-full {
  width: 100%;
}

.btn:hover {
  transform: scale(1.10);
  border-color: var(--color-orange);
  box-shadow: var(--box-shadow-cyanShadow);
}

.shadow-cyanMediumShadow {
  box-shadow: var(--box-shadow-cyanMediumShadow);
}

.shadow-orangeMediumShadow {
  box-shadow: var(--box-shadow-orangeMediumShadow);
}

.hover-scale-105:hover {
  transform: scale(1.05);
}

.hover-scale-110:hover {
  transform: scale(1.10);
}

.hover-translate:hover {
  transform: translateY(-10px);
}

.hover-opacity-0:hover {
  opacity: 0;
}

body {
  @apply bg-darkBrown;
}